/* FONT IMPORT */
@font-face {
	font-family: 'Freight Sans Book';
	src: url('../fonts/Freight Sans Book.otf');
}

@font-face {
	font-family: 'Freight Sans Book Italic';
	src: url('../fonts/Freight Sans Book Italic.otf');
}

/* CLASSES */
.custom-bg {
	background-color: rgb(204,204,204);
}

.custom-bg li {
	font-family: "Freight Sans Book";
}

.pw-toggle-group {
  position: relative; 
}

.pw-toggle-group a {
  position: absolute;
  right: 1em;
  top: 0.5em;
  color: #23527C; 
}

.pw-toggle-group a.pw-hide {
  color: #23527C; 
}

.pw-toggle-group a:hover,
.pw-toggle-group a:focus {
  cursor: pointer;
  text-decoration: none; 
}

/* IDs */
#done-word-conf {
	color: #549F93;
	display: none;
}

#done-word-new {
	color: #549F93;
	display: none;
}

#eight-chars-msg {
	color: #CC2936;
	display: none;
}

#error-container {
	text-align: center;
	top: 50%;
	margin-top: 10%;
}

#insert-date-form {
	width: 60%;
	margin: 5% auto;
}

#login-form {
	width: 40%;
	margin: 5% auto;
}

#logo {
	width: 500px;
	position: absolute;
	padding-left: 1rem;
	bottom: 0;
}

#logo a:hover {
	text-decoration: none;
}

#logo h1 {
	font-family: "Rockwell";
	font-size: 60px;
	font-weight: bold;
	color: white;
}

#logo-img {
	float: left;
}

#logo-text-pt1 {
	padding-top: 0;
}

#logo-text-pt2 {
	margin-top: -15px;
}

#main-body {
	width: 70%;
	margin: 2% auto;
}

#pass-confirm-msg {
	color: #CC2936;
	display: none;
}

#prev-btn {
	display: none;
	margin-right: 5px;
}

#rmembr-chckbox {
	text-align: center;
}

#scheduler-font {
	font-family: "Freight Sans Book Italic";
	font-size: 30px;
	font-weight: lighter;
	color: white;
}

#submit-button {
	text-align: center;
}

#title-section {
	height: 200px;
	background-color: rgb(13,106,168);
	position: relative;
}

/* BOOTSTRAP OVERRIDES */

.alert-danger {
	width: 50%;
	text-align: center;
	margin: 0 auto;
}

.alert-success {
	width: 50%;
	text-align: center;
	margin: 0 auto;
}

.alert-warning {
	width: 50%;
	text-align: center;
	margin: 0 auto;
}

.btn-info, .btn-info:active, .btn-info:visited {
	background-color: rgb(13,106,168);
	border-color: rgb(13,106,168);
}

.btn-info:hover {
	background-color: rgb(13,120,180);
	border-color: rgb(13,120,180);
}

.form-group {
	margin-top: 30px;
}

.navbar-default .navbar-nav>li>a {
    color: rgb(64,64,64);
    font-size: 18px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: rgb(119,119,119);
}

 .navbar-toggle {
	float: left;
	margin-left: 15px;
} 




